[flake8]
docstring-convention = all
import-order-style = pycharm
application_import_names = sscache
max_doc_length = 72
ignore =
    # Todo note found.
    T000,
    # Multi-line docstring summary should start at the first line
    D212,
    # Missing type annotation for self in method
    ANN101,
    # 1 blank line required before class docstring
    D203,
    # Missing return type annotation for public function
    ANN401,
    # line break before binary operator
    W503,
    # other string does contain unindexed parameters
    P103,
    # Missing docstring in __init__
    D107,
    # Section name should end with a newline
    D406,
    # Missing dashed underline after section
    D407,
    # Missing blank line after last section
    D413,
    # Missing docstring in magic method
    D105,
per-file-ignores =
    # "..." imported but unused
    **/__init__.py:F401
