name: Lint

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  lint:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup the Python Environment
        uses: Qwerty-133/python-setup@v1
        with:
          python-version: '3.11'

      - name: Run pre-commit hooks
        run: poetry run pre-commit run --show-diff-on-failure --color=always --all-files

      - name: Lint PowerShell files
        shell: pwsh
        run: |
          $analyzerModule = Get-Module -ListAvailable -Name PSScriptAnalyzer
          if ($null -eq $analyzerModule) {
            Install-Module -Name PSScriptAnalyzer -Force
          }

          Invoke-ScriptAnalyzer -Path '.\' -Recurse -EnableExit
